.container {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	align-items: center;

	max-height: 50px;
	min-height: 50px;
	height: 50px;
	background-color: var(--gray-9);
}

.references {
	color: var(--gray-1);
	margin: 0;
}
